* {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: bold;
}
html {
  overflow-y: scroll;
}

::backdrop {
  background-color: transparent;
}

/* DarkMode.jsx */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Navigation*/
.navigation_button {
  background-color: transparent;

  border: none;
  border-radius: 15px;
  height: 2.5rem;
  width: auto;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}

.navigation_button:hover {
  background-color: #e0e0e0;
}

.Navigation_container {
  height: 4rem;
  width: 100%;
  display: flex;
  padding: 1.35rem;
  border-bottom: 0.1rem solid rgb(228, 225, 225);
}

.logo img {
  height: 1.45rem;
}

.Navigation_right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.Navigation_right > * {
  padding-left: 0.5rem;
}

/*MyProfile*/
.myprofile_container {
  position: relative;
}

.myprofile_dialog {
  position: absolute;
  background: #fff;
  border: none;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-right: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.myprofile_dialog ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.myprofile_dialog li {
  padding: 10px;
}

.myprofile_dialog li:hover {
  background-color: #f7f7f7;
  border-radius: 1rem;
}

.myprofile_dialog li img {
  margin-right: 10px;
}
.myprofile_dialog li a {
  text-decoration: none;
  color: black;
}

/*Gwiazdka*/
.star_container {
  position: relative;
}

.star_dialog {
  position: absolute;
  background: #fff;
  border: none;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-right: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.star_dialog ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.star_dialog li {
  padding: 10px;
}

.star_dialog li:hover {
  background-color: #f7f7f7;
  border-radius: 1rem;
}

.star_dialog li img {
  margin-right: 10px;
}
.star_dialog li a {
  text-decoration: none;
  color: black;
}

/*Currency.css*/
.currency_container {
  position: relative;
}

.currency_dialog {
  position: absolute;
  background: #fff;
  border: none;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-right: 0;
  width: 15rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.currency_dialog ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.currency_dialog li {
  padding: 10px;
}

.currency_dialog li:hover {
  background-color: #f7f7f7;
  border-radius: 2rem;
}

.currency_dialog li img {
  margin-right: 10px;
}
.currency_dialog li a {
  text-decoration: none;
  color: black;
}

/* HomePageTop.jsx */
.hmp_wrapper {
  height: 3rem;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

/*Search.jsx*/
.search_input {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2rem;
  background-color: rgb(226, 223, 223, 0.5);
  width: 13rem;
  height: 2.5rem;
}
.search_input:hover {
  border-color: black;
}
/*Location*/
.position_modal_location_wrapper {
  position: relative;
}
.modal_location_dialog {
  position: absolute;
  margin-right: -10rem;
  margin-top: 7.6rem;
  padding: 0;
  width: 50rem;
  border: rgb(223, 223, 223) solid 0.1px;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.location_button {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2rem;
  background-color: white;
  width: 10rem;
  height: 2.5rem;
}
.location_button:hover {
  border-color: black;
}

.location_button_modal {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2rem;
  background-color: white;
  padding: 0 1rem;
  width: auto;
  height: 2.5rem;
  margin: 0.5rem;
}
.location_button:hover {
  border-color: black;
}
.ml_wrapper {
  margin: 1rem;
}
.ml_wrapper > h3 {
  margin-left: 0.5rem;
}
.modal_location_top {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  height: 1rem;
}
.modal_location_top div {
  position: relative;
  margin-left: 60%;
  color: rgb(185, 184, 184);
}
.modal_location_top h2 {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}
.modal_location_top button {
  height: 2rem;
  width: 2rem;
  border: 1px solid rgb(212, 212, 212);
  background-color: transparent;
  border-radius: 50%;
}
.modal_location_top button:hover {
  border-color: rgb(58, 58, 58);
}
.ml_wrapper input {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2rem;
  height: 3rem;
  width: 100%;
  margin: auto;
}
.button-show-offers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(240, 238, 238);
}
.button-show-offers button {
  background-color: rgb(238, 81, 107);
  width: 80%;
  height: 2rem;
  border-radius: 2rem;
  color: white;
  border: none;
}

/*Technologies*/
.button_lang_wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 10rem;
  font-size: 0.7rem;
}

.technology_img {
  border-radius: 50%;
  background-color: red;
  height: 2.3rem;
  width: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology_img_modal {
  border-radius: 50%;
  background-color: red;
  height: 2.3rem;
  width: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0.5rem;
  top: 0.3rem;
}
.technology_img img {
  height: 1rem;
  width: auto;
}
.technology_img_modal img {
  height: 1rem;
  width: auto;
}
.technology_name {
  text-align: center;
}

.technology_name_modal {
  position: relative;
  left: 4rem;
  bottom: 1.2rem;
}
.dialog_technologies_wrapper {
  position: relative;
}

.dialog_technologies {
  position: absolute;
  margin-right: 15rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 10rem;
  overflow-x: hidden;
}

.technology_img,
.technology_img_modal {
  transition: box-shadow 0.3s ease;
}
.technology_img:hover,
.technology_img_modal:hover {
  box-shadow: 0 0 0 4px rgb(207, 207, 207);
}

.technology_img_bg_modal:hover {
  background-color: rgb(241, 239, 239);
  border-radius: 1rem;
}

.technologies_button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
}

.technologies_button:hover {
  background-color: rgb(228, 227, 227);
}

/* Undertop */
.undertop_wrapper {
  display: flex;
  justify-content: space-between;
}

/*Salaryfilter*/
.first_selected {
  background-color: black;
  color: white;
}
.second_selected {
  background-color: white;
  color: black;
}

/*Subscribe*/
.subscribe_button {
}

/* MyID */
.myid_bartek {
  height: 7rem;
  width: 100%-1rem;
  margin: 1rem;
  background-color: purple;
  color: white;
  font-size: 4rem;
  text-align: center;
}

/*OfferTop*/
.offer_wrapper {
  width: 100%;
  height: 20rem;
  display: flex;
}

.offer_logo img {
  margin: 2rem;
  width: 10rem;
  height: auto;
}

/*OfferUnderTop*/
.offerUT_container {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-wrap: wrap; /* Umożliwia zawijanie elementów w razie potrzeby */
}

.offerUT_box {
  width: 50%;
  border: 1px solid #ccc; /* Dodatkowy stylizacyjny border */
  padding: 20px; /* Dodatkowy padding dla estetyki */
}

/*OfferSimilar*/
.offerS_wrapper {
  margin: 2rem;
}

.offerS_wrapper img {
  width: 2rem;
  height: auto;
}
